# .gitignore

config.json

# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.core
*.egg-info/
dist/
build/
*.egg
*.so
*.swp
*.swo

# flask
instance/
.webassets-cache
*.sqlite

# virtual environment
venv/
env/
.virtualenv/

# vscode
.vscode/

# pycharm
.idea/

# macOS
.DS_Store
