.vertical-container {
    display: flex;
    flex-direction: column;
}

#top, #bottom, #left, #right {
    position: fixed;
    background-repeat: repeat;
}

#top, #bottom {
    height: 1px;
    width: 100%;
    left: 0;
    white-space: nowrap;
}

#left, #right {
    height: 100%;
    width: 1px;
    top: 0;
}

#top {
    top: 0;
}

#bottom {
    bottom: 30px;
}

#left {
    left: 20px;
}

#right {
    right: 20px;
}

.horizontal {
    width: 20px;
    height: 1px;
}

.vertical {
    width: 1px;
    height: 20px;
}

.line {
    display: inline-block;
    background-color: #555;
    text-shadow: 0 0 10px rgba(55, 55, 55, 0);
    opacity: 0.5;
    transition: transform 0.1s ease-out, opacity 0.1s ease-out, background 0.1s ease-out;
}

.line.current-cursor {
    transform: rotate(90deg);
    opacity: 1;
    background-color: #bee;
}
