body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #111;
    color: #fff;
}

body {
    background: linear-gradient(135deg, #111 0%, #222 25%, #223 75%, #226 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

h1, h2, h3 {
    font-family: 'Orbitron', sans-serif;
}

a {
    cursor: none;
    transition: text-shadow 0.1s ease-out, opacity 0.1s ease-out;
}

.main-content {
    position: relative;
    padding: 20px;
}

.main-content .main-title {
    position: absolute;
    top: 20px;
    right: 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.main-content .main-title:hover {
    cursor: default;
}

.main-content .main-title h1,
.main-content .main-title p {
  color: rgba(255, 255, 255, 0.7);
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin: 0;
}

.main-content .main-title h1 {
    font-size: 4.8rem;
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
    margin-top: -6px;
}

.main-content .main-title p {
    font-size: 1.5rem;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
    line-height: 1.9;
}

.social-links {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.social-links a {
    opacity: 0.5;
    text-shadow: 0 0 1px #00ff00;
}

.social-links a:hover {
    opacity: 0.9;
    text-shadow: 0 0 10px #00ff00;
}

.social-links a i {
    font-size: 1.5em;
    color: #55ff55;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

.project-tile {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.project-tile img {
    width: 100%;
    transition: transform 0.5s;
}

.project-tile:hover img {
    transform: scale(1.1);
}
