body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #111;
    color: #fff;
}

body {
    background: linear-gradient(135deg, #111 0%, #222 25%, #223 75%, #226 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

h1, h2, h3 {
    font-family: 'Orbitron', sans-serif;
}

a {
    cursor: none;
    transition: text-shadow 0.1s ease-out, opacity 0.1s ease-out;
}

#bgCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.main-content {
    position: absolute;
    top: 20px;
    right: 20px;
}

.main-content .main-title {
    position: absolute;
    top: 20px;
    right: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.main-content .main-title:hover {
    cursor: default;
}

.main-content .main-title h1,
.main-content .main-title p {
  color: rgba(255, 255, 255, 0.7);
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin: 0;
}

.main-content .main-title h1 {
    font-size: 4.8rem;
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
    margin-top: -6px;
}

.main-content .main-title p {
    font-size: 1.5rem;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
    line-height: 1.9;
}

.social-links {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.social-links a {
    opacity: 0.5;
    text-shadow: 0 0 1px #00ff00;
    padding: 40px;
    transform: rotate(45deg);
}

.social-links a:hover {
    opacity: 0.9;
    text-shadow: 0 0 10px #00ff00;
}

.social-links a i {
    font-size: 1.5em;
    color: #55ff55;
    transform: rotate(-45deg);
}

.button-container {
    position: fixed;
    z-index: 3;
    display: flex;
    padding: 10px 20px;
    width: 100%;
}

.button-container a {
    opacity: 0.5;
    text-shadow: 0 0 1px #00aaff;
    padding: 20px;
    margin-right: 10px;
    transform: rotate(45deg);
}

.button-container a:hover {
    opacity: 0.9;
    text-shadow: 0 0 10px #00aaff;
}

.button-container a i {
    font-size: 1.2em;
    color: #55aaff;
    transform: rotate(-45deg);
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 40px;
    position: absolute;
    top: 60px;
    right: 40px;
    width: calc(100% - 40px);
}

.project-tile {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.project-tile img {
    max-height: 200px;
    transition: transform 0.5s;
}

.project-tile:hover img {
    transform: scale(1.1);
}

.rotating-dashed-circle {
    position: absolute;
    border: 1px dashed #555;
    border-radius: 50%;
    animation: rotate 10s linear infinite;
    transition: opacity 0.1s ease-out;
    opacity: 0;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}

.project-details {
    position: relative;
    margin-left: 20px;
}

.category-version {
    font-size: 0.8em;
    color: #777;
}