<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaotic Den</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/borders.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link id="favicon" rel="icon" type="image/png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <script src="{{ url_for('static', filename='js/borders.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/favicon.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
    <script>
        window.projectsData = [{% for project in projects %} {
            id: {{ project.id }},
            title: "{{ project.title }}",
            description: "{{ project.description }}",
            image: "{{ project.image }}",
            released_at: "{{ project.released_at }}"
        } {% if not loop.last %}, {% endif %}{% endfor %}];
    </script>
    
</head>
<body>
    <div id="particles-js"></div>

    <!-- Parallax Section -->
    <section class="main-content" data-image-src="/static/images/your-image.jpg">
        <!-- Social Media Links -->
        <section class="social-links">
            <a href="https://t.me/ryan_ash" target="_blank"><i class="fab fa-telegram"></i></a>
            <a href="https://twitter.com/Ryan_D_Ash" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/ryan-ash" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://linkedin.com/in/ryan-ash-15085279" target="_blank"><i class="fab fa-linkedin"></i></a>
        </section>
        <div class="main-title">
            <h1>ɅŞĦ</h1>
            <p>Chaotic Developer</p>
        </div>
    </section>

    <!-- Mode Switch and Sorting Buttons -->
    <section class="view-options">
        <div class="button-container">
            <a id="all-projects-btn" class="btn-icon">
                <i class="fas fa-th"></i>
            </a>
            <a id="by-category-btn" class="btn-icon">
                <i class="fas fa-th-list"></i>
            </a>
            <a id="sort-date" class="btn-icon">
                <i class="fas fa-sort-numeric-down"></i>
            </a>
            <a id="sort-name" class="btn-icon">
                <i class="fas fa-sort-alpha-down"></i>
            </a>
        </div>        
    </section>

    <!-- Project Tiles - All Projects -->
    <section id="projects-all" class="projects">
        <div class="row">
            {% for project in projects %}
            <div class="col-lg-4 col-md-6 col-sm-12 project-tile">
                <img src="{{ project.image }}" alt="{{ project.title }}" data-speed="0.1">
                <h3>{{ project.title }} <span class="category-version">({{ project.category.name }} / {{ project.version }})</span></h3>
                <p>{{ project.description }}</p>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Project Tiles - Projects by Category -->
    <section id="projects-by-category" class="projects hidden">
        {% for category_name, projects in projects_by_category.items() %}
            <div class="category">
                <h2>{{ category_name }}</h2>
                <div class="projects">
                    {% for project in projects %}
                        <div class="project-details">
                            <h3>{{ project.title }} <span class="category-version">({{ project.version }})</span></h3>
                        </div>                    
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </section>

    <div id="top"></div>
    <div id="left"></div>
    <div id="bottom"></div>
    <div id="right"></div>

    <div class="rotating-dashed-circle"></div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
