<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaotic Den</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/borders.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link id="favicon" rel="icon" type="image/png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <script src="{{ url_for('static', filename='js/borders.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/favicon.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</head>
<body>
    <div id="particles-js"></div>

    <!-- Parallax Section -->
    <section class="parallax-container main-content" data-parallax="scroll" data-image-src="/static/images/your-image.jpg">
        <div class="parallax-text main-title">
            <h1>ɅŞĦ</h1>
            <p>Chaotic Developer</p>
        </div>
    </section>
      

    <!-- Project Tiles -->
    <section class="container projects">
        <div class="row">
            {% for project in projects %}
            <div class="col-lg-4 col-md-6 col-sm-12 project-tile">
                <img src="{{ project.image }}" alt="{{ project.title }}" data-speed="0.1">
                <h3>{{ project.title }}</h3>
                <p>{{ project.description }}</p>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Social Media Links -->
    <section class="social-links">
        <a href="https://t.me/ryan_ash" target="_blank"><i class="fab fa-telegram"></i></a>
        <a href="https://twitter.com/Ryan_D_Ash" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://github.com/ryan-ash" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://linkedin.com/in/ryan-ash-15085279" target="_blank"><i class="fab fa-linkedin"></i></a>
    </section>

    <div id="top"></div>
    <div id="left"></div>
    <div id="bottom"></div>
    <div id="right"></div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
